input[type=text], input[type=password], input[type=number], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: right;
}

input[type=number] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

.center {
    position:fixed;
    top: 20%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em;
    margin-left: -15em;
}

label {
    display:block;
    width:x;
    height:y;
    text-align:right;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


.logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flag { 
	font-family: monospace;
    text-align: center;
}
